/* ESTILOS GERAIS */
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/* ESTILOS GERAIS */
body {
    font-family: Arial, sans-serif;
    background-color: #0d2033;
    /* Ajusta cor do fundo site */
    color: #fff;

}

/* ------------------------------------------------------  INICIO  - Navbar ------------------------------------------------ */

header {
    width: 100%;
    margin: 0 auto;
    background: #008FEA;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.106);
}

/* ------------------- Estilos da Top-Bar ------------------- */
.top-bar {
    background-color: #0d223b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    font-size: 14px;
    color: white;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input { 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-right: 10px;
}

.search-container button {
    background-color: #0d223b;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;  /*lupa*/ 
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* ------------------- Estilos do Menu Principal ------------------- */
.main-nav {
    text-align: center;

}

.main-nav ul {
 
    list-style: none;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.main-nav ul li {
    position: relative;
}

.main-nav ul li a {
    display: block;
    color: rgba(255, 255, 255, .9);
    text-decoration: none;
    padding: 20px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: background-color .3s ease, color .3s ease, border-bottom .3s ease, opacity .3s ease;
    font-weight: 100;
    opacity: 300; /* Opacidade padrão para efeito de fade */
    border-radius: 5px;
    
}

.main-nav ul li a:hover,
.main-nav ul li a:focus {
    background: rgba(0, 0, 0, .15);
    border-bottom: 2px solid white;
    color: #fff; /* Alterar a cor do texto no hover para garantir contraste */
    opacity: 1; /* Opacidade total no hover */
    
}

.main-nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
    padding: 0;
    opacity: 0; /* Inicia oculto */
    visibility: hidden; /* Inicia oculto */
    transition: opacity .5s ease, visibility .5s ease; /* Transição suave */
    z-index: 1000;
}

.main-nav ul li:hover ul,
.main-nav ul li:focus ul {
    display: block;
    opacity: 1; /* Visível no hover */
    visibility: visible; /* Visível no hover */
}

.main-nav ul li ul li {
    min-width: 190px;
}

.main-nav ul li ul li a {
    color: #555;
    border-bottom: 1px solid #DDE0E7;
    background: transparent;
    padding: 1rem 2rem;
    transition: background-color .3s ease, color .3s ease;
}

.main-nav ul li ul li a:hover,
.main-nav ul li ul li a:focus {
    background: #eee;
    color: #111;
}


/* ------------------------------------------------------  FIM - Navbar ------------------------------------------------ */





/* -------------------------------------------  INICIO Slide CAPA  ------------------------------------------------ */
/*CODIGO CARROCEL slide AQUI */

/* Estilos para a apresentação de slides */
.background-image {
    position: fixed;
    height: 90vh;
    /* Ajuste conforme necessário */
    overflow: hidden;
    border-radius: 3px;

}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    color: #8f0707;
}


.titulo-sap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 2px 4px rgb(#004080);
    z-index: 1;
    text-align: center;
}

/* ------------------------------------------------------  FIM  ------------------------------------------------ */

/* ----------------------------------------Parallax Effect ------------------------------------  */
.parallax {
    position: relative;
    background-image: url('pnab\ aldir.png');
    /* Imagem de fundo para o parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    /* Ajuste a altura conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    box-shadow: rgb(126, 153, 5);
}

.parallax-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Overlay para o efeito de fade in */
    opacity: 0;
    /* Começa invisível */
    transition: opacity 0.9s ease;
    /* Transição suave de opacidade */
}

.parallax:hover .parallax-overlay {
    opacity: 1;
    /* Mostra o overlay ao passar o mouse */
}

.parallax-content {
    position: relative;
    z-index: 1;
    opacity: 0;
    /* Começa invisível */
    animation: fadeIn 1s forwards;
    /* Animação de fade in */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
        /* Efeito de surgimento de baixo para cima */
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.parallax h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.parallax p {
    font-size: 1.3em;
    max-width: 1000px;
    /* Ajuste conforme necessário */
    margin: 0 auto;
    background-color: #02040e5d;
    border-radius: 8px;


}

.parallaxp :hover {
    transition: all;
}















/*  DE UMA ATENÇÃO AQUI DEPOIS, GREGO.    -------- INICIO -  Home Section - FOTO DA CAPA */

#home {
    position: relative;
    text-align: center;
    color: rgb(0, 59, 148);
    margin: 10px;
}


#home .titulo-sap {
    /* FRASE -SAP CULTURA*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 13px;
    margin-top: 10px;
    /* Ajuste o espaçamento superior conforme necessário */
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    transition: opacity 0.9s ease;
    min-height: 1vh;
    /* Garante que a seção tenha pelo menos metade da altura da tela */
}

#home .titulo-sap h1 {
    margin: 20px 5px;
    /* Margens verticais */
    font-weight: bold;
    /* Negrito */
    opacity: 1;
    /* Inicialmente visível */
    background-color: rgba(248, 249, 250, 0.438);
    /*Cor de fundo suave */
    border-radius: 5px;
    /* Bordas arredondadas */
    transition: opacity 0.9s ease;
    /* Transição de opacidade */
}

.titulo-sap h1.text-primary {
    font-size: 50px;
    /* Tamanho da fonte */
    color: #074a92;
    /* Cor primária */
}

.titulo-sap h1.text-muted {
    font-size: 30px;
    /* Tamanho da fonte */
    color: #e7eaec;
    /* Cor suavizada */
}

/* Animação de fade-in */
@keyframes fadeIn {
    to {
        opacity: 1;
        /* Tornar visível */
    }
}

/* Classe para aplicar fade-out */
.fade-out {
    opacity: 0;
    pointer-events: none;
    /* Impede interação quando invisível */
}

#home .titulo-sap p {
    font-size: 1.5em;
    font-size: 60px;
    /* Tamanho da fonte */
    color: #010911;
    /* Cor suavizada */
}




/* Form Styles */
.form-wrapper {
    background: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    
}

.form-row {
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    color: white;
}

.form-group input,
.form-group button {
    padding: 100px;
    border-radius: 5px;
    border: none;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="number"] {
    background: #fff;
    color: #000;
}

.form-group button {
    background: #f04;
    color: #fff;
    cursor: pointer;
}

.radio-buttons {
    display: flex;
    justify-content: space-between;
    color: white;
}

.radio-buttons label {
    display: flex;
    align-items: center;
}

.radio-buttons input {
    margin-right: 5px;
}

/* Icons Styles */
.icons {
    text-align: center;
    margin: 20px 0;
}

.icons i {
    font-size: 2em;
    margin: 0 10px;
    color: #333;
}

/* Parallax Image */
.parallax-image {
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* ----------------INICIO NOTICIAS SLIDE ----------------*/

.noticias-titulo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: #061b5f;
    font-size: 24px;
    margin-right: 100px;
}

.noticias-titulo i {
    /*icon noticia */
    margin-right: 10px;
    font-size: 1.5em;
}


.Noticia {
    display: flex;
    width: 100%;
    max-width: 1300px;
    margin: 20px auto;
    background-color: #333;

}

.Noticia-main {
    flex: 2;
    position: relative;
}

.Noticia-image {
    width: 100%;
    height: auto;
}

.Noticia-caption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Noticia-caption h2 {
    margin: 0;
    font-size: 1.2em;
}

.Noticia-side {
    flex: 1;
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Noticia-side ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.news-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #555;
    border-radius: 4px;
    cursor: pointer;
}

.news-image {
    width: 50px;
    /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-right: 10px;
    /* Espaço entre a imagem e o texto */
}

.news-item.active {
    background-color: #666;
}

.Noticia-controls {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #555;
}

.Noticia-control,
.Noticia-more {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.Noticia-control:hover,
.Noticia-more:hover {
    text-decoration: underline;
}

/*-----------------------------------------------PROGRAMAS E PROJETOS-----------------------------------*/


.programas {
    text-align: center;
    padding: 20px;
    background-color: rgba(252, 252, 252, 0.726);
    border-radius: 7px;
}

.programas h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.slider {
    position: relative;
    width: 1200px;
    /* Ajuste a largura aqui */
    max-width: 100%;
    height: 230px;
    /* Ajuste a altura aqui */
    margin: auto;
    overflow: hidden;
    border-radius: 7px;
    background-color: #000;
}

.slides {
    position: relative;
    height: 100%;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.slide-info {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.button {
    background-color: #04417a;
    color: #ffffff;
    padding: 6px 20px;
    text-decoration: none;
    border: 2px solid #096aaa;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.7s ease, color 0.9s ease;
}

.button:hover {
    background-color: #ffffff;
    color: #ffffff;
}

.controls {
    position: absolute;
    width: 100%;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.controls button {
    background-color: rgba(0, 0, 0, 0.486);
    border: none;
    color: rgb(255, 255, 255);
    padding: 13px;
    cursor: pointer;
    border-radius: 12%;
}

.controls button:hover {
    background-color: rgba(0, 0, 0, 0.918);
}





/* INICIO CARDS EDITAL */
/*---------------- INCIO CARDS EDITAL --------------------*/

.edital {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1000px;
    padding: 20px;
}

.card {
    background-color: #211fa865;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
    width: 300px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    background-color: #007bff;
    color: white;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.card-header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.card-header p {
    margin: 5px 0 0;
    font-size: 14px;
}

.card-body {
    padding: 15px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}

.card-body p {
    margin-bottom: 10px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: center;
    width: calc(50% - 0x);
}

.btn:hover {
    background-color: #0056b3;
}

.cadastrar-btn {
    background-color: #28a745;
}

.cadastrar-btn:hover {
    background-color: #218838;
}

.card-footer {
    text-align: center;
    margin-top: auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.card-footer i {
    margin-right: 5px;
}

/* FIM CARDS EDITAL */







/*---------------INICIO FOOTER-------------*/
/* Basic styles for the footer */
footer {
    background-color: #1c1c1c;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px 0;
    background-image: url('');
    background-repeat: no-repeat;
    justify-content: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 0.9em;
    line-height: 1.6;
}

.footer-section .social-links img {
    width: 30px;
    margin-right: 10px;
}

.footer-section .social-links a {
    color: white;
    text-decoration: none;
}

.footer-section .social-links a:hover {
    opacity: 0.7;
}

.footer-section iframe {
    border-radius: 9px;
}

.footer-section button {
    background-color: #00cc66;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.footer-section button:hover {
    background-color: #028342;
}

.footer-bottom {
    background-color: #004080;
    padding: 10px;
    text-align: center;
    font-size: 0.9em;
    color: white;
}


/*------------------------------------------INICIO AREA DE ATUAÇÃO------------------------------*/

.area-de-atuacao {
    text-align: center;
    padding: 10px 20px;
}

.area-de-atuacao h1 {
    font-size: 3em;
    color: #58baff;
}

.area-de-atuacao p {
    color: #ccc;
    margin-bottom: 50px;
}

.atuacao-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.atuacao-item {
    background-color: #444;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    flex: 1;
    min-width: 200px;
    max-width: 250px;
    text-align: center;
}

.atuacao-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.atuacao-item h2 {
    color: #58baff;
    margin-bottom: 10px;
}

.atuacao-item p {
    color: #aaa;
    font-size: 0.9em;
}



/*------------------------------------------------FIM AREA DE ATUAÇÃO----------------------------------*/